.icon_actions{
    color: #000000;
    font-size: 15px;
}

.icon_actions.eye:hover{
    color: blue;
    font-size: 15px;
}

.icon_actions.edit:hover{
    color: #F39C12;
    font-size: 15px;
}

.icon_actions.trash:hover{
    color: red;
    font-size: 15px;
}

.btn_create{
    background-color: #bc75ea;
    color: #ffffff;
    border-radius: 30px;
    padding: 10px;
}

.btn_create:hover{
    background-color: #1EC4E5;
    color: #ffffff;
    border-radius: 30px;
    padding: 10px;
}

.na_view_tickets{
    justify-content: center;
    display: flex;
    flex-direction: inherit;
}
.modal-content{
   border-radius: 30px!important;
}


.modal-body{
    border: solid 2px transparent;
}


.btn_modal_send{
    background: #0a10e9;
    border-radius: 30px;
    color: #fff;
    padding: 10px;
}

.btn_modal_send:hover{
    background: #bc75ea;
    color: #fff;
}

.btn_modal{
    border-radius: 30px!important;
    background-color: #c2fbf5!important;
    margin-left: 10px;
}

.nav-pills .nav-link.btn_modal.active, .nav-pills .show > .nav-link{
    background-color: #1EC4E5!important;
}
.btn_next_tab{
    background-color: #c4c6d3;
    padding: 10px;
    color: #000;
    border-radius: 3px;
    top: 20px;
    position: relative;
    margin-top: 3rem!important;
    border: solid 1px transparent!important;
}

.btn_next_tab:hover{
    border: solid 1px #000000!important;
}

.content_card_shadow{
    margin-top: 5rem;
    margin-left: -1rem;
    background-color: #f7f7f7;
    border-radius: 30px;
    color: #000000!important;
    -webkit-box-shadow: 10px 10px 25px 6px rgba(201,201,201,1);
    -moz-box-shadow: 10px 10px 25px 6px rgba(201,201,201,1);
    box-shadow: 10px 10px 25px 6px rgba(201,201,201,1);
}

.content_card_shadow_dash{
    border-radius: 20px;
    margin-top: 2rem;
    margin-left: -1.5rem!important;
    margin-right: 0.5rem!important;
    background-color: #f7f7f7;
    color: #000000!important;
    -webkit-box-shadow: 10px 10px 25px 6px rgba(201,201,201,1);
    -moz-box-shadow: 10px 10px 25px 6px rgba(201,201,201,1);
    box-shadow: 10px 10px 25px 6px rgba(201,201,201,1);
}

.content_card_shadow_dash:hover{
    background-color: #ededed;
     transition: transform .2s;
    transform: scale(1.03);
}

.content_card_shadow_dash_2{
    border-radius: 20px;
    margin-top: 2rem;
    margin-left: 0rem!important;
    margin-right: 0.5rem!important;
    background-color: #f7f7f7;
    -webkit-box-shadow: 10px 10px 25px 6px rgba(201,201,201,1);
    -moz-box-shadow: 10px 10px 25px 6px rgba(201,201,201,1);
    box-shadow: 10px 10px 25px 6px rgba(201,201,201,1);
}

.content_card_shadow_dash_2:hover{
    background-color: #ededed;
     transition: transform .2s;
    transform: scale(1.03);
}

.icon_dasboard{
    width: 20%;
}

.input-group.active{
    background-color: #6e00ff;

}

@media only screen and (max-width: 768px) {
    .content_card_shadow{
        margin-left: 0rem!important;
    }

    .content_card_shadow_dash{
        margin-left: 0.5rem!important;

    }

    .content_card_shadow_dash_2{
        margin-left: 0.5rem!important;

    }

}


