.content_login{
    background-image: url('/image/bg.png');
    background-size: 100% 100%;
    background-size: cover;
    border-radius: 30px;
    height: auto;
    padding: 50px;
}

.img_logo{
    width: 50%;
}

.tittle_login{
    color: #bc75ea;
    font-weight: bold;
}


.form-check{
    margin-top: 1rem;
    padding-left: 0em!important;
}

.form-check-label_login{
    color:#1EC4E5;
    font-weight: bold;
}
.btn-login{
    background-color: #0570F9!important;
    border-color:  #0570F9!important;
    color: #ffffff!important;
    border-radius: 15px!important;
    width: 150px;
}

.bg_login {
    background-image: linear-gradient(to right top, #bc75ea, #aa73ee, #9672f1, #7e71f4, #6071f7, #4382fd, #2491ff, #009eff, #00baff, #4ad3f9, #8ae8f3, #c2fbf5);
    background-repeat: no-repeat;
}

.input-group-text{
    background-color: #1EC4E5!important;
    border: 1px solid #1EC4E5!important;
}

.form-control{
    background-color: #1EC4E5!important;
    border: 1px solid #1EC4E5!important;
}

::placeholder {
  color: #ffffff!important;
    font-weight: bold;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
 color: #ffffff!important;
    font-weight: bold;
}

::-ms-input-placeholder { /* Microsoft Edge */
 color: #ffffff!important;
    font-weight: bold;
}

.icon_login {
    color: #c2fbf5;
}

.form_login{
    max-width: 60%;
}

.forgot_login{
    color: #bc75ea;
}

.create_login{
    color: #1EC4E5;
}

@media only screen and (max-width: 720px) {
    .content_dis{
        display: none;
    }

    .tittle_login{
        margin-top: 3rem;
        text-align: center !important;
    }

    .form_login{
        max-width: 100%;
    }
}
