        /*.card_steps{*/
        /*    border-radius: 20px;*/
        /*    margin-top: 2rem;*/
        /*    margin-left: 0rem!important;*/
        /*    margin-right: 0.5rem!important;*/
        /*    background-color: #f7f7f7;*/
        /*    -webkit-box-shadow: 10px 10px 25px 6px rgba(201,201,201,1);*/
        /*    -moz-box-shadow: 10px 10px 25px 6px rgba(201,201,201,1);*/
        /*    box-shadow: 10px 10px 25px 6px rgba(201,201,201,1);*/
        /*    padding: 40px;*/
        /*    z-index: 0*/
        /*}*/

        /*#progressbar {*/
        /*    margin-bottom: 30px;*/
        /*    overflow: hidden;*/
        /*    color: lightgrey;*/
        /*    padding-left: 0px*/
        /*}*/

        /*#progressbar .active_steps {*/
        /*    color: #673AB7*/
        /*}*/

        /*#progressbar li {*/
        /*    list-style-type: none;*/
        /*    font-size: 15px;*/
        /*    width: 25%;*/
        /*    float: left;*/
        /*    position: relative;*/
        /*    font-weight: 400*/
        /*}*/

        /*#progressbar .step0:before {*/
        /*    content: ""*/
        /*}*/

        /*#progressbar li:before {*/
        /*    width: 40px;*/
        /*    height: 40px;*/
        /*    line-height: 45px;*/
        /*    display: block;*/
        /*    font-size: 20px;*/
        /*    background: #E0E0E0;*/
        /*    border-radius: 50%;*/
        /*    margin: auto;*/
        /*    padding: 2px*/
        /*}*/

        /*#progressbar li:after {*/
        /*    content: '';*/
        /*    width: 100%;*/
        /*    height: 10px;*/
        /*    background: #E0E0E0;*/
        /*    position: absolute;*/
        /*    left: 0;*/
        /*    top: 17px;*/
        /*    z-index: -1*/
        /*}*/

        /*#progressbar li:last-child:after {*/
        /*    border-top-right-radius: 10px;*/
        /*    border-bottom-right-radius: 10px*/
        /*}*/

        /*#progressbar li:first-child:after {*/
        /*    border-top-left-radius: 10px;*/
        /*    border-bottom-left-radius: 10px*/
        /*}*/

        /*#progressbar li.active_steps:before,*/
        /*#progressbar li.active_steps:after {*/
        /*    background: #bc75ea*/
        /*}*/

        .yellow-text {
            color: #bc75ea
        }

        fieldset.show {
            display: contents;
        }

        fieldset {
            display: none
        }

        .btn_steps{
            background-color: #1EC4E5!important;
            border-radius: 15px!important;
            border: solid 1px transparent;
            width: 150px;
            color: #ffffff;
        }

        .btn_steps_2{
            background-color: #e2e2e2!important;
            border-radius: 15px!important;
            border: solid 1px transparent;
            width: 150px;
            color: #ffffff;
        }

        .btn_steps:hover{
            background-color: #e2e2e2!important;
            border-radius: 15px!important;
            border: solid 1px transparent;
            width: 150px;
            color: #ffffff;
        }

        .btn_steps_2:hover{
            background-color: #1EC4E5!important;
            border-radius: 15px!important;
            border: solid 1px transparent;
            width: 150px;
            color: #ffffff;
        }

        /*.radio.selected {*/
        /*    border: 1px solid #bc75ea;*/
        /*    box-shadow: 0px 8px 16px 0px #EEEEEE;*/
        /*    color: #29B6F6 !important;*/
        /*    -webkit-filter: grayscale(0%);*/
        /*    -moz-filter: grayscale(0%);*/
        /*    -o-filter: grayscale(0%);*/
        /*    -ms-filter: grayscale(0%);*/
        /*    filter: grayscale(0%)*/
        /*}*/

        /*.card-block {*/
        /*    border: 1px solid #CFD8DC;*/
        /*    width: 45%;*/
        /*    margin: 2.5%;*/
        /*    padding: 20px 25px 15px 25px*/
        /*}*/

        @media screen and (max-width: 768px) {
            .card-block {
                padding: 20px 20px 0px 20px;
                height: 250px
            }

            fieldset.show {
                display: block!important;
            }

        }


        /*.fit-image {*/
        /*    width: 100%;*/
        /*    object-fit: cover*/
        /*}*/

        /*.btn-block {*/
        /*    border-radius: 5px;*/
        /*    height: 50px;*/
        /*    font-weight: 500;*/
        /*    cursor: pointer*/
        /*}*/

        /*.fa-long-arrow-right {*/
        /*    float: right;*/
        /*    margin-top: 4px*/
        /*}*/

        /*.fa-long-arrow-left {*/
        /*    float: left;*/
        /*    margin-top: 4px*/
        /*}*/

        /*.form-select{*/
        /*    background-color: #fff!important;*/
        /*    border: 1px solid #fff!important;*/
        /*    border-radius: 10px!important;*/
        /*}*/

        /*.form-check-input:checked {*/
        /*    background-color: #0a10e9;*/
        /*    border-color: #0a10e9;*/
        /*}*/

        /*.form-control:disabled, .form-control[readonly] {*/
        /*    background-color: #e2e2e2!important;;*/
        /*    border: solid #e2e2e2;*/
        /*    opacity: 1;*/
        /*}*/

        /*.form-control{*/
        /*    background-color: #fff;*/
        /*    border: 1px solid #ccc;*/
        /*    !*border-radius: 10px!important;*!*/
        /*}*/

        /*.btn_next_tab{*/
        /*        background-color: #0a10e9;*/
        /*        padding: 10px;*/
        /*        color: #fff;*/
        /*        border-radius: 15px;*/
        /*        top: 20px;*/
        /*        position: relative;*/
        /*        margin-top: 3rem!important;*/
        /*}*/

        /*.btn_prev_tab{*/
        /*        background-color: #bc75ea;*/
        /*        padding: 10px;*/
        /*        color: #fff;*/
        /*        border-radius: 15px;*/
        /*        margin-right: 30px;*/
        /*        top: 20px;*/
        /*        position: relative;*/
        /*        margin-top: 3rem!important;*/
        /*}*/

        /*.label_steps{*/
        /*    font-weight: bold;*/
        /*    color: #0a10e9;*/
        /*}*/

        /*.select2.select2-container.select2-container--default.select2-container--below.select2-container--focus{*/
        /*    width: 200px!important;*/
        /*}*/

        /*.select2-selection.select2-selection--single{*/
        /*     width: 250px!important;*/
        /*}*/

        /*.select2-selection__arrow{*/
        /*    width: 300px!important;*/
        /*}*/
